node_modules
bower_components

# docs site
_gh_pages

# build the extensions
extensions.js

# deploy the docs
deploy.sh

# old docs
docs_

# check the locale file on README
check.js

# Common IDE files
nbproject
.~lock.*
.buildpath
.idea
.project
.settings
*.iml

# OS X Finder internal system files
.DS_Store
.localized
Icon
