.daterangepicker {
  .ranges {
    li {
      color: var(--gt-text-primary);

      &.active,
      &:hover {
        background: #536a7f;
        border: 1px solid #536a7f;
        color: #fff;
      }
    }
  }

  .input-mini {
    background-color: #eee;
    border: 1px solid #ccc;
    box-shadow: none !important;

    &.active {
      border: 1px solid #ccc;
    }
  }

  select {
    &.monthselect,
    &.yearselect,
    &.hourselect,
    &.minuteselect,
    &.secondselect,
    &.ampmselect {
      font-size: 12px;
      padding: 1px;
      height: auto;
      margin: 0;
      cursor: default;
      height: 30px;
      border: 1px solid #adb2b5;
      line-height: 30px;
      border-radius: 0px !important;
    }

    &.monthselect {
      margin-right: 2%;
    }
  }

  td {
    &.in-range {
      background: #e4e7ea;
      color: var(--gt-text-primary);
    }

    &.active,
    &.active:hover {
      background-color: #536a7f;
      color: #fff;
    }
  }

  th.available:hover {
    background: #eee;
    color: #34495e;
  }

  &:before,
  &:after {
    content: none;
  }

  .calendar.single {
    margin: 0 0 4px 0;

    .calendar-table {
      width: 224px;
      padding: 0 0 4px 0 !important;

      thead {
        & tr:first-child {
          th {
            padding: 8px 5px;
          }
        }

        th {
          border-radius: 0;
        }
      }
    }
  }

  &.picker_1 {
    color: #fff;
    background: #34495e;

    .calendar-table {
      background: #34495e;

      thead {
        & tr {
          background: #213345;
        }

        & tr:first-child {
          background: var(--gt-primary);
        }
      }

      td.off {
        background: #34495e;
        color: #999;
      }

      td.available:hover {
        color: #34495e;
      }
    }
  }

  &.picker_2 {
    .calendar-table {
      thead {
        & tr {
          color: var(--gt-primary);
        }

        & tr:first-child {
          color: var(--gt-text-primary);
        }
      }
    }
  }

  &.picker_3 {
    .calendar-table {
      thead {
        & tr:first-child {
          color: #fff;
          background: var(--gt-primary);
        }
      }
    }
  }

  &.picker_4 {
    .calendar-table {
      thead {
        & tr:first-child {
          color: #fff;
          background: #34495e;
        }
      }

      td,
      td.off {
        background: #ecf0f1;
        border: 1px solid #fff;
        border-radius: 0;
      }

      td.active {
        background: #34495e;
      }
    }
  }
}

.calendar-exibit {
  .show-calendar {
    float: none;
    display: block;
    position: relative;
    background-color: #fff;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    overflow: hidden;

    .calendar {
      margin: 0 0 4px 0;
    }

    &.picker_1 {
      background: #34495e;
    }
  }

  .calendar-table {
    padding: 0 0 4px 0;
  }
}
